@charset "UTF-8";

*{
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

:root{
    --font1: 'Sansita Swashed', cursive
}

html, body{
    min-height: 100vh;
    background-color: rgb(255, 173, 248);
}

header{
    width: 100%;
    min-width: 350px;
    text-align: center;
    background-color: red;
    height: 80px;
    padding-top: 30px;
    color: white;
}

h1{
    font-variant: small-caps;
    font-family: var(--font1);
}

section{
    background-color: blueviolet;
    max-width: 800px;
    min-width: 350px;
    height: 100vh;
    margin: auto;
}

div{
    padding-top: 20vh;
    padding-bottom: 20vh;
}

div#texto{
    background-color: white;
    text-align: center;
    line-height: 2em;
}

div#texto p{
   font-family: var(--font1);
}

div#imagem{
   background-color: darkgray;
   width: 100%;
   background-image: url('imagens/WhatsApp\ Image\ 2022-03-12\ at\ 18.40.03\ \(3\).jpeg');
   background-position: left center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 }
 div#imagem2{
     background-image: url('imagens/WhatsApp\ Image\ 2022-03-12\ at\ 18.40.03\ \(2\).jpeg');
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
 }
 div#imagem3{
     background-image: url('imagens/WhatsApp\ Image\ 2022-03-12\ at\ 18.40.03\ \(4\).jpeg');
     background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }
 div#imagem4{
     background-image: url('imagens/WhatsApp\ Image\ 2022-03-12\ at\ 18.40.02\ \(1\).jpeg');
     background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 footer{
     background-color: black;
     color: white;
     text-align: center;
     background-position: bottom bottom;
 }